.main {
  padding: 0 20px 40px 20px; /* top right bottom left */
  height: 100%;
}

.containter {
  overflow: hidden;
}

.item {
  width: 50%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
}

.title2 {
  font-style: italic;
  text-decoration: underline;
  color: black;
  /* font-size: 1.1rem; */
}

.content,
.form {
  color: #43464d;
  margin: 1.6rem 0;
  font-size: 0.95rem;
  line-height: 1.4;
}

.lst {
  margin: 0;
  padding-left: 15px;
}

.icbtn {
  display: block;
  background-color: #fff !important;
  text-decoration: none !important;
  margin: 1.6rem auto;
  border: 2px solid black;
  border-radius: 1rem;
  text-align: center;
  width: 84vw;
  height: 5.2vh;
  font-size: 0.95rem;
}
