.main {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.app,
.store {
  padding-top: 2vh;
  position: relative;
  /* border: 1.2px solid #ccc; */
}

.fullStore {
  height: 100vh;
}

.store {
  flex: 1;
  min-width: 100%;
}

.app {
  flex: 1;
  min-width: 100%;
}

.up {
  margin-bottom: 26px;
  position: relative;
}

.img {
  width: 100%;
}

.btn {
  position: absolute;
  top: 47%;
  left: 39%;

  background-color: #007aff;
  border: none;
  width: 71px;
  height: 29px;
  border-radius: 100px;

  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 29px;
}

.down {
  padding: 24px 20px 0;
  .description {
    font-size: 15px;
    line-height: 156%;
    padding: 13px 0;
    .more {
      color: #3478f6;
    }
    .nomore {
      display: none;
    }
  }
}
