.main {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  background-color: black;
}

.main::-webkit-scrollbar {
  display: none;
}

.app,
.store {
  width: 100vw;
  position: relative;
  background-color: white;
}

.fullStore {
  height: 100vh;
}

.app {
  font-family: 'Sora', sans-serif;
  flex: 1;
  min-width: 100%;
}

.up {
  margin-bottom: 20px;
  position: relative;
}

.img {
  width: 100%;
}

.btn {
  position: absolute;
  top: 49%;
  left: 39%;

  background-color: #007aff;
  border: none;
  width: 71px;
  height: 29px;
  border-radius: 100px;

  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 29px;
}

.loading,
.downloading {
  position: absolute;
  top: 49%;
  left: 39%;
  opacity: 0;
}

.down {
  padding: 24px 20px 0;
  .description {
    font-size: 15px;
    line-height: 156%;
    padding: 13px 0;
    .more {
      color: #3478f6;
    }
    .nomore {
      display: none;
    }
  }
}

/* Intro */
.introImg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.intro1,
.intro2,
.intro3 {
  overflow: hidden;
}

.intro2,
.intro3 {
  display: none;
}

.intro1Next,
.intro2Next,
.intro3Next {
  position: absolute;
  opacity: 0;
  top: 93.5vh;
  right: 4.5vw;
  width: 98px;
  height: 32px;
}

.intro2Back,
.intro3Back {
  position: absolute;
  opacity: 0;
  top: 93.5vh;
  left: 4.5vw;
  width: 98px;
  height: 32px;
}
