.main {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.app,
.store {
  /* padding-top: 2vh; */
  border: 1.2px solid #ccc;
}

.store {
  flex: 1;
  min-width: 100%;
}

.app {
  flex: 1;
  min-width: 100%;
}

.up {
  width: 100%;
}
