.main {
  background-color: #f0f0f0;
  padding: 10vh 20px 0 20px; /* top right bottom left */
  height: 100%;
  font-family: 'Sora';
  font-style: normal;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #b25eb6;
  .time {
    color: #86868c;
  }
}

.footer {
  font-size: 0.9rem;
  text-align: center;
  color: #949494;
  padding-top: 60px;
  padding-bottom: 20px;
}
