.container {
  overflow: hidden;
  margin-left: 10px;
  /* height: 543.3px; */
}

/* Safari and Chrome */
.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.row {
  display: inline-block;
}

.imgContainer {
  display: inline-block;
  margin-left: 10px;
  width: 58.26vw;
  height: calc(58.26vw * 2.16);
  border-radius: 24px;
  overflow: hidden;
}

.img {
  width: 100%;
}
