.main {
  background-color: white;
  overflow: hidden;
  width: 200%;
}

.main::-webkit-scrollbar {
  display: none;
}

/* Store Page */
.store {
  float: left;
  width: 100vw;
  box-sizing: border-box;
}

.fullStore {
  height: 100vh;
}

/* App Intro Page */
.app {
  float: left;
  font-family: 'Sora';
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: relative;
  box-sizing: border-box;
}

.name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  font-weight: bold;
  color: #b25eb6;
}

.fullStore {
  height: 100vh;
}

.up {
  margin-bottom: 20px;
  position: relative;
}

.img {
  width: 100%;
  /* background-color: white; */
}

.btn {
  position: absolute;
  top: 49%;
  left: 39%;

  background-color: #007aff;
  border: none;
  width: 71px;
  height: 30px;
  border-radius: 100px;

  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 29px;
}

.loading,
.downloading {
  position: absolute;
  top: 49%;
  left: 39%;
  opacity: 0;
}

.down {
  padding: 24px 20px 0;
  background-color: white;
  .description {
    font-size: 15px;
    line-height: 156%;
    padding: 13px 0;
    .more {
      color: #3478f6;
    }
    .nomore {
      display: none;
    }
  }
}
